body {
  background-color: black;
  font-family: sans-serif;
  color: cyan;
  text-align: center;
}

.container {
  width: 80%;
  height: auto;
  background-color: cyan;
}

.me {
  padding: 30px;
  color: blue;
}
